{% load static %}
<div class="main-content app-content">
<section>
    <div class="section banner-4 banner-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="">
                        <p class="mb-3 content-1 h5 text-white">Get To Know <span class="tx-info-dark position-relative">About Us<span class="br-bottom-before"></span></span></p>
                        <p class="mb-4 content- ">We provide reliable hosting solutions with dedicated support for your business success. Our experienced team ensures your website stays online and performs at its best.</p>
                        <a href="#about" class="btn btn-lg btn-secondary"><i class="bi bi-arrow-right me-2"></i>Get Started</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-bg about-image mt-5 mt-lg-0">
                        <img src="{% static 'assets/images/png/26.png' %}" class="reseller-img img-fluid" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>