{% load static %}
<section class="section bg-pattern-1 bg-image1">
    <div class="container">
        <div class="row justify-content-between">

            <div class="heading-section">
                <div class="heading-subtitle"><span class="tx-primary tx-16 fw-semibold">Features</span></div>
                <div class="heading-title">Some Included <span class="tx-primary">Features</span> </div>
                <div class="heading-description">Checkout These Features</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card shadow-none border">
                    <div class="card-body text-center">
                        <span class="blob-bg"><i class="bi bi-award text-white tx-26"></i></span>
                        <h5>Lightning-Fast Speed</h5>
                        <p class="mb-0">JHigh-performance servers delivering ultra-fast website loading and response times.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card shadow-none border">
                    <div class="card-body text-center">
                        <span class="blob-bg secondary"><i class="bi bi-headset text-white tx-26"></i></span>
                        <h5>Fully dedicated 24X7 support</h5>
                        <p class="mb-0">High-performance servers delivering ultra-fast website loading and response times.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card shadow-none border">
                    <div class="card-body text-center">
                        <span class="blob-bg success"><i class="bi bi-shield-check text-white tx-26"></i></span>
                        <h5>Protect user privacy</h5>
                        <p class="mb-0">Advanced privacy protection and secure data handling for users.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card shadow-none border">
                    <div class="card-body text-center">
                        <span class="blob-bg pink"><i class="bi bi-currency-dollar text-white tx-26"></i></span>
                        <h5>Secure online transactions</h5>
                        <p class="mb-0">SSL encryption and security measures for safe online payments.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card shadow-none border">
                    <div class="card-body text-center">
                        <span class="blob-bg teal"><i class="bi bi-clock-history text-white tx-26"></i></span>
                        <h5>Maximum Security</h5>
                        <p class="mb-0">Multi-layer security protection against malware and cyber threats.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card shadow-none border">
                    <div class="card-body text-center">
                        <span class="blob-bg danger"><i class="bi bi-hand-index text-white tx-26"></i></span>
                        <h5>1-Click Installer</h5>
                        <p class="mb-0">Easy installation of popular applications like WordPress and databases.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>