{% load static %}
<section class="section bg-section-1">
    <div class="container">
        <div class="row justify-content-between mb-5 ">
            <div class="heading-section">
                <div class="heading-subtitle"><span class="tx-primary tx-16 fw-semibold">Our Team</span></div>
                <div class="heading-title">Our Executive <span class="tx-primary">Team Member</span></div>
                <div class="heading-description">Our Specialists</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card mb-lg-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="{% static 'assets/images/profile/8.jpg' %}" class="avatar avatar-lg rounded-circle me-3" alt="...">
                            <div>
                                <h5 class="mb-1">Mike Rowe-Soft</h5>
                                <p class="tx-14 mb-0">Web designer</p>
                            </div>
                        </div>
                        <p>Greet customers and make them feel warm welcome by creating a supportive and friendly environment</p>
                        <a href="#" class="btn btn-primary-transparent rounded-circle avatar avatar-sm px-2"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card mb-lg-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="{% static 'assets/images/profile/4.jpg' %}" class="avatar avatar-lg rounded-circle me-3" alt="...">
                            <div>
                                <h5 class="mb-1">Dhaval Patel</h5>
                                <p class="tx-14 mb-0">Java Developer</p>
                            </div>
                        </div>
                        <p>Communicate with the customers and make them feel comfortable and knowing their needs to manage.</p>
                        <a href="#" class="btn btn-primary-transparent rounded-circle avatar avatar-sm px-2"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card mb-lg-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="{% static 'assets/images/profile/3.jpg' %}" class="avatar avatar-lg rounded-circle me-3" alt="...">
                            <div>
                                <h5 class="mb-1">Navin Telsko</h5>
                                <p class="tx-14 mb-0">Angular Developer</p>
                            </div>
                        </div>
                        <p>Deliver products pricing accurately with high reliable performance without any risks and technical issues.</p>
                        <a href="#" class="btn btn-primary-transparent rounded-circle avatar avatar-sm px-2"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card mb-lg-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="{% static 'assets/images/profile/1.jpg' %}" class="avatar avatar-lg rounded-circle me-3" alt="...">
                            <div>
                                <h5 class="mb-1">Mosh Patel</h5>
                                <p class="tx-14 mb-0">React Developer</p>
                            </div>
                        </div>
                        <p>Maintains all the necessary documents that are needed for products pricing with more privacy.</p>
                        <a href="#" class="btn btn-primary-transparent rounded-circle avatar avatar-sm px-2"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>