{% extends 'layout.html' %}
{% load static %}

<!-- Start Extra Styles -->
{% block extra_styles %} {% include 'content/dashboard/extra_styles.html' %} {% endblock %}
<!-- End Extra Styles -->

<!--- Start Page Content -->
{% block page_content %}
<!-- Page Content -->
 
<container>
<!--Start Register Form-->
{% include 'content/dashboard/dashboard.html' %}
<!--End Register Form-->
</container>


<!--- End Page Content -->
{% endblock %}
<!-- Extra Scripts Start -->
{% block extra_scripts%} {% include 'content/dashboard/extra_scripts.html' %} {% endblock %}
<!-- Extra Scripts End -->

{% block title %} | Dashboard{% endblock %}
