{% load static %}
<div class="main-content app-content">
<section>
    <div class="section banner-4 banner-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <div class="">
                        <p class="mb-3 content-1 h5 text-white">Blog<span class="tx-info-dark"></span></p>
                        <p class="mb-0 tx-28">Your guide to reliable hosting solutions and performance optimization</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>