{% load static %}
<section class="section bg-pattern-1">
    <img src="{% static 'assets/images/patterns/3.png' %}" alt="img" class="patterns-7 op-1 z-index-0">
    <div class="container">
        <div class="heading-section">
            <div class="heading-subtitle"><span class="tx-primary tx-16 fw-semibold">Features</span></div>
            <div class="heading-title">It just works <span class="tx-primary">Auto-magically</span></div>
            <div class="heading-description">Check These Features</div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card feature-card-4 feature-card-4-primary">
                    <div class="card-body p-0">
                        <div class="p-4 text-start mt-lg--13p">
                            <div class="p-2 bg-primary-transparent rounded-circle d-inline-block mb-3">
                                <span class="avatar feature-avatar all-ease-03 avatar-lg rounded-circle text-bg-primary tx-24">
                                    <i class="bi bi-star-half outline"></i>
                                    <i class="bi bi-star-fill filled"></i>
                                </span>
                            </div>
                            <h4 class="mb-3">Auto-Setup</h4>
                            <p class="mb-0">WordPress pre-installed and ready. Start building your website immediately.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card feature-card-4 feature-card-4-secondary">
                    <div class="card-body p-0">
                        <div class="p-4 text-start mt-lg--13p">
                            <div class="p-2 bg-secondary-transparent rounded-circle d-inline-block mb-3">
                                <span class="avatar feature-avatar all-ease-03 avatar-lg rounded-circle text-bg-secondary tx-24">
                                    <i class="bi bi-eject outline"></i>
                                    <i class="bi bi-eject-fill filled"></i>
                                </span>
                            </div>
                            <h4 class="mb-3">Auto-Updates</h4>
                            <p class="mb-0">Automatic security patches and upgrades keep your site protected.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card feature-card-4 feature-card-4-success">
                    <div class="card-body p-0">
                        <div class="p-4 text-start mt-lg--13p">
                            <div class="p-2 bg-success-transparent rounded-circle d-inline-block mb-3">
                                <span class="avatar feature-avatar all-ease-03 avatar-lg rounded-circle text-bg-success tx-24">
                                    <i class="bi bi-lightning outline"></i>
                                    <i class="bi bi-lightning-fill filled"></i>
                                </span>
                            </div>
                            <h4 class="mb-3">Auto-Caching</h4>
                            <p class="mb-0">Lightning-fast loading speeds with built-in caching and global CDN.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>