{% load static %}
<section class="section bg-pattern-1 bg-image1 overflow-hidden">
    <img src="{% static 'assets/images/patterns/23.png' %}" alt="img" class="patterns-1 op-2">
    <img src="{% static 'assets/images/patterns/9.png' %}" alt="img" class="patterns-8 sub-pattern-1 op-1 filter-invert">
    <div class="container">
        <div class="heading-section">
            <div class="heading-subtitle"><span class="tx-primary tx-16 fw-semibold">Features</span></div>
            <div class="heading-title">Maximum Performance, <span class="tx-primary">Total Control</span></div>
            <div class="heading-description">Checkout Our Features</div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li class="list-item mb-5 performance-item">
                        <div class="d-flex align-items-start">
                            <div class="me-4 d-inline-block p-3 br-50 bg-danger">
                                <img src="{% static 'assets/images/icons/4.png' %}" alt="img" height="40">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">Powerful Configurations</h5>
                                <p class="mb-0">Our servers are powered by SSD storage, DDR4 Memory and Xenon D processors, and can smoothly handle any type of workload — from a critical business application to a high-traffic website.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-5">
                        <div class="d-flex align-items-start">
                            <div class="me-4 d-inline-block p-3 br-50 bg-info">
                                <img src="{% static 'assets/images/icons/5.png' %}" alt="img" height="40">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">Quick Provisioning</h5>
                                <p class="mb-0">We get you online quickly. Your server is provisioned within minutes. Sed ut perspiciatis unde omnis iste natus error sit voluptatemDuo takimata aliquyam takimata rebum magna sed sanctus est sit. Voluptua</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-5 mb-lg-0">
                        <div class="d-flex align-items-start">
                            <div class="me-4 d-inline-block p-3 br-50 bg-pink">
                                <img src="{% static 'assets/images/icons/7.png' %}" alt="img" height="40">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">Easily Configurable</h5>
                                <p class="mb-0">Choose from multiple Linux flavours and hosting panels. You can even add WHMCS add-on to have a complete billing solution. Duo takimata aliquyam takimata rebum magna sed sanctus est sit.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li class="list-item mb-5">
                        <div class="d-flex align-items-start">
                            <div class="me-4 d-inline-block p-3 br-50 bg-warning">
                                <img src="{% static 'assets/images/icons/2.png' %}" alt="img" height="40">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">Additional Storage</h5>
                                <p class="mb-0">Our HDD servers come with the flexibility of additional storage. You can easily scale the storage as your business grows. Duo takimata aliquyam takimata rebum magna sed sanctus est sit. Voluptua labore.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-5">
                        <div class="d-flex align-items-start">
                            <div class="me-4 d-inline-block p-3 br-50 bg-primary">
                                <img src="{% static 'assets/images/icons/3.png' %}" alt="img" height="40">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">Server Administration Panel</h5>
                                <p class="mb-0">Never lose access to your server. Our Server Administration Panel gives you total control at all times. With features like Rebuild, Web-based VNC, Restart, Shutdown and Resource Monitoring you can manage your server easily.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-item mb-5 mb-lg-0">
                        <div class="d-flex align-items-start">
                            <div class="me-4 d-inline-block p-3 br-50 bg-success">
                                <img src="{% static 'assets/images/icons/1.png' %}" alt="img" height="40">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">Lightning-Fast Speed</h5>
                                <p class="mb-0">Our servers are located a top-tier data centres which are backed by redundant ISP links and Neustar DDoS protection to ensure your site is up and available all the time. Duo takimata aliquyam.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

