{% load static %}
<section class="section bg-pattern-2 bg-image2 text-white">
    <div class="container">
        <div class="heading-section">
            <div class="heading-title text-white">Power Packed Product With These Tools</div>
            <div class="heading-description text-white op-8">50+ Plugins Available</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'assets/images/png/apps/7.png' %}" alt="img" width="150" class="img-fluid tool-img">
                        <img src="{% static 'assets/images/png/apps/19.png' %}" alt="img" width="150" class="img-fluid tool-img-white">
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'assets/images/png/apps/8.png' %}" alt="img" width="150" class="img-fluid tool-img">
                        <img src="{% static 'assets/images/png/apps/20.png' %}" alt="img" width="150" class="img-fluid tool-img-white">
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'assets/images/png/apps/9.png' %}" alt="img" width="150" class="img-fluid tool-img">
                        <img src="{% static 'assets/images/png/apps/21.png' %}" alt="img" width="150" class="img-fluid tool-img-white">
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'assets/images/png/apps/10.png' %}" alt="img" width="150" class="img-fluid tool-img">
                        <img src="{% static 'assets/images/png/apps/22.png' %}" alt="img" width="150" class="img-fluid tool-img-white">
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'assets/images/png/apps/11.png' %}" alt="img" width="150" class="img-fluid tool-img">
                        <img src="{% static 'assets/images/png/apps/23.png' %}" alt="img" width="150" class="img-fluid tool-img-white">
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'assets/images/png/apps/12.png' %}" alt="img" width="150" class="img-fluid tool-img">
                        <img src="{% static 'assets/images/png/apps/24.png' %}" alt="img" width="150" class="img-fluid tool-img-white">
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'assets/images/png/apps/13.png' %}" alt="img" width="150" class="img-fluid tool-img">
                        <img src="{% static 'assets/images/png/apps/25.png' %}" alt="img" width="150" class="img-fluid tool-img-white">
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'assets/images/png/apps/14.png' %}" alt="img" width="150" class="img-fluid tool-img">
                        <img src="{% static 'assets/images/png/apps/26.png' %}" alt="img" width="150" class="img-fluid tool-img-white">
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'assets/images/png/apps/15.png' %}" alt="img" width="150" class="img-fluid tool-img">
                        <img src="{% static 'assets/images/png/apps/27.png' %}" alt="img" width="150" class="img-fluid tool-img-white">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>