{% load static %}
<!-- Start Features Section -->
<section class="section">
  <img src="{% static 'assets/images/patterns/2.png' %}" alt="img" class="patterns-1 op-1 z-index-0" />
  <img src="{% static 'assets/images/patterns/26.png' %}" alt="img" class="patterns-7 op-2 z-index-0" />
  <div class="container">
    <div class="heading-section">
      <div class="heading-subtitle">
        <span class="tx-primary tx-16 fw-semibold">Features</span>
      </div>
      <div class="heading-title">
        What You’ll Get With <span class="tx-primary">This Hosting</span>
      </div>
      <div class="heading-description">Key Features Included</div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card border feature-card-16 shadow-none">
          <div class="card-body">
            <div class="p-2 rounded-circle bg-primary-transparent d-inline-block mb-4">
              <span class="avatar avatar-lg feature-avatar all-ease-03 rounded-circle bg-primary-gradient text-white tx-24">
                <i class="bi bi-menu-app outline"></i>
                <i class="bi bi-menu-app-fill filled"></i>
              </span>
            </div>
            <h4 class="mb-3">Control Panel</h4>
            <p class="mb-0">Enjoy the power of cPanel—an intuitive control panel that simplifies the management of your hosting package.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card border feature-card-16 shadow-none">
          <div class="card-body">
            <div class="p-2 rounded-circle bg-secondary-transparent d-inline-block mb-4">
              <span class="avatar avatar-lg feature-avatar all-ease-03 rounded-circle bg-secondary-gradient text-white tx-24">
                <i class="bi bi-envelope-paper outline"></i>
                <i class="bi bi-envelope-paper-fill filled"></i>
              </span>
            </div>
            <h4 class="mb-3">Email Included</h4>
            <p class="mb-0">Seamlessly manage your emails and mailing lists using advanced email features built directly into cPanel.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card border feature-card-16 shadow-none">
          <div class="card-body">
            <div class="p-2 rounded-circle bg-success-transparent d-inline-block mb-4">
              <span class="avatar avatar-lg feature-avatar all-ease-03 rounded-circle bg-success-gradient text-white tx-24">
                <i class="bi bi-file-text outline"></i>
                <i class="bi bi-file-text-fill filled"></i>
              </span>
            </div>
            <h4 class="mb-3">Free SSL Certificate</h4>
            <p class="mb-0">Secure your website with a free SSL certificate included in every plan, ensuring data protection and trust.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Features Section -->