{% load static %}

    <section class="section bg-gray-100">
        <img src="{% static 'assets/images/patterns/12.png' %}" alt="img" class="patterns-8 sub-pattern-1 z-index-0 op-1">
        <div class="container">
            <div class="heading-section">
                <div class="heading-subtitle"><span class="tx-primary tx-16 fw-semibold">Plugins</span></div>
                <div class="heading-title">Power Packed Product With <span class="tx-primary">These Tools</span> </div>
                <div class="heading-description">50+ Plugins Available</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="card feature-card-15 text-center align-items-center">
                        <div class="card-body">
                            <img src="{% static 'assets/images/png/apps/7.png' %}" alt="img" width="150" class="tool-img img-fluid">
                            <img src="{% static 'assets/images/png/apps/19.png' %}" alt="img" width="150" class="tool-img-white img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="card feature-card-15 text-center align-items-center">
                        <div class="card-body">
                            <img src="{% static 'assets/images/png/apps/8.png' %}" alt="img" width="150" class="tool-img img-fluid">
                            <img src="{% static 'assets/images/png/apps/20.png' %}" alt="img" width="150" class="tool-img-white img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="card feature-card-15 text-center align-items-center">
                        <div class="card-body">
                            <img src="{% static 'assets/images/png/apps/9.png' %}" alt="img" width="150" class="tool-img img-fluid">
                            <img src="{% static 'assets/images/png/apps/21.png' %}" alt="img" width="150" class="tool-img-white img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="card feature-card-15 text-center align-items-center">
                        <div class="card-body">
                            <img src="{% static 'assets/images/png/apps/10.png' %}" alt="img" width="150" class="tool-img img-fluid">
                            <img src="{% static 'assets/images/png/apps/22.png' %}" alt="img" width="150" class="tool-img-white img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="card feature-card-15 text-center align-items-center">
                        <div class="card-body">
                            <img src="{% static 'assets/images/png/apps/11.png' %}" alt="img" width="150" class="tool-img img-fluid">
                            <img src="{% static 'assets/images/png/apps/23.png' %}" alt="img" width="150" class="tool-img-white img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="card feature-card-15 text-center align-items-center">
                        <div class="card-body">
                            <img src="{% static 'assets/images/png/apps/12.png' %}" alt="img" width="150" class="tool-img img-fluid">
                            <img src="{% static 'assets/images/png/apps/24.png' %}" alt="img" width="150" class="tool-img-white img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="card feature-card-15 text-center align-items-center">
                        <div class="card-body">
                            <img src="{% static 'assets/images/png/apps/13.png' %}" alt="img" width="150" class="tool-img img-fluid">
                            <img src="{% static 'assets/images/png/apps/25.png' %}" alt="img" width="150" class="tool-img-white img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="card feature-card-15 text-center align-items-center">
                        <div class="card-body">
                            <img src="{% static 'assets/images/png/apps/14.png' %}" alt="img" width="150" class="tool-img img-fluid">
                            <img src="{% static 'assets/images/png/apps/26.png' %}" alt="img" width="150" class="tool-img-white img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="card feature-card-15 text-center align-items-center">
                        <div class="card-body">
                            <img src="{% static 'assets/images/png/apps/15.png' %}" alt="img" width="150" class="tool-img img-fluid">
                            <img src="{% static 'assets/images/png/apps/27.png' %}" alt="img" width="150" class="tool-img-white img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>