{% load static %}
<section class="section">
    <img src="{% static 'assets/images/patterns/12.png' %}" alt="img" class="patterns-8 sub-pattern-1 z-index-0 op-1">
    <img src="{% static 'assets/images/patterns/11.png' %}" alt="img" class="patterns-3 z-index-0">
    <div class="container">
        <div class="heading-section">
            <div class="heading-subtitle"><span class="tx-primary tx-16 fw-semibold">Benefits</span></div>
            <div class="heading-title">Free Add-Ons With Every <span class="tx-primary">Hosting Plan</span> </div>
            <div class="heading-description">Premium Features Included At No Extra Cost</div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card feature-card reveal">
                    <div class="card-body">
                        <div class="mb-2 d-flex align-items-center">
                            <span class="tx-primary addons tx-28">
                                <i class="bi bi-envelope-paper outline fade-in"></i>
                                <i class="bi bi-envelope-paper-fill filled fade-in"></i>
                            </span>
                            <h5 class="flex-grow-1 mb-0 ms-3">Free SSL Certificate</h5>
                        </div>
                        <p class="mb-0">Secure encryption for better SEO and customer trust online.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card feature-card reveal">
                    <div class="card-body">
                        <div class="mb-2 d-flex align-items-center">
                            <span class="tx-primary addons tx-28">
                                <i class="bi bi-nut outline fade-in"></i>
                                <i class="bi bi-nut-fill filled fade-in"></i>
                            </span>
                            <h5 class="flex-grow-1 mb-0 ms-3">Daily Backups</h5>
                        </div>
                        <p class="mb-0">Automatic backups with one-click restore and data protection.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card feature-card reveal">
                    <div class="card-body">
                        <div class="mb-2 d-flex align-items-center">
                            <span class="tx-primary addons tx-28">
                                <i class="bi bi-cpu outline fade-in"></i>
                                <i class="bi bi-cpu-fill filled fade-in"></i>
                            </span>
                            <h5 class="flex-grow-1 mb-0 ms-3">Panel Control Panel</h5>
                        </div>
                        <p class="mb-0">Easy interface for managing files, databases, and emails.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card feature-card reveal">
                    <div class="card-body">
                        <div class="mb-2 d-flex align-items-center">
                            <span class="tx-primary addons tx-28">
                                <i class="bi bi-menu-app outline fade-in"></i>
                                <i class="bi bi-menu-app-fill filled fade-in"></i>
                            </span>
                            <h5 class="flex-grow-1 mb-0 ms-3">Easy Website Builder</h5>
                        </div>
                        <p class="mb-0">Custom responsive websites built by our expert team.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card feature-card reveal">
                    <div class="card-body">
                        <div class="mb-2 d-flex align-items-center">
                            <span class="tx-primary addons tx-28">
                                <i class="bi bi-shield-exclamation outline fade-in"></i>
                                <i class="bi bi-shield-fill-exclamation filled fade-in"></i>
                            </span>
                            <h5 class="flex-grow-1 mb-0 ms-3">DDoS Protection</h5>
                        </div>
                        <p class="mb-0">Advanced security against attacks and malicious traffic.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card feature-card reveal">
                    <div class="card-body">
                        <div class="mb-2 d-flex align-items-center">
                            <span class="tx-primary addons tx-28">
                                <i class="bi bi-skip-forward outline fade-in"></i>
                                <i class="bi bi-skip-forward-fill filled fade-in"></i>
                            </span>
                            <h5 class="flex-grow-1 mb-0 ms-3">24/7 Expert Support</h5>
                        </div>
                        <p class="mb-0">Round-the-clock technical support via chat, phone, or tickets.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>