{% load static %}
<section class="banner-pd-1 blob-bg-sec">
    <img src="{% static 'assets/images/patterns/10.png' %}" alt="img" class="patterns-8 op-1">
    <img src="{% static 'assets/images/patterns/4.png' %}" alt="img" class="patterns-3">
    <img src="{% static 'assets/images/patterns/6.png' %}" alt="img" class="patterns-4">
    <img src="{% static 'assets/images/patterns/9.png' %}" alt="img" class="patterns-9">
    <img src="{% static 'assets/images/patterns/9.png' %}" alt="img" class="patterns-9 sub-pattern-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 reveal">
                <h2 class="mb-1 text-white">Building Website Is Easy</h2>
                <p class="mb-4 op-7 tx-15">Get custom websites built by our expert development team.</p>
                <p class="mb-4">
                    Our skilled developers create responsive, SEO-optimized websites tailored to your business needs. From design to deployment, we handle everything.
                </p>
                <a href="https://utopiangateway.com/" target="_blank" class="btn btn-lg btn-secondary">Get Started</a>
            </div>
            <div class="col-lg-6 text-lg-end text-center mt-5 mt-lg-0">
                <img src="{% static 'assets/images/png/69.png' %}" alt="img" class="build-img reveal img-fluid">
            </div>
        </div>
    </div>
</section>