{% load static %}
<section class="section bg-pattern-1 bg-gray-100" id="domain">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="heading-section">
                <div class="heading-title">Looking For a <span class="tx-primary">Domain?</span> </div>
                <div class="heading-description">Invidunt erat elitr ut accusam amet ipsum lorem</div>
            </div>
            <div class="col-xl-9">
                <div class="card-body text-center">
                    <img src="{% static 'assets/images/patterns/7.png' %}" alt="img" class="patterns-7">
                    <img src="{% static 'assets/images/patterns/24.png' %}" alt="img" class="patterns-8 sub-pattern-1 op-1 z-index-1">
                    <img src="{% static 'assets/images/patterns/24.png' %}" alt="img" class="patterns-3 sub-pattern-1 op-1 z-index-1">

                    <form action="javascript:void(0);" class="form mb-4">
                        <div class="form-group custom-form-group">
                            <input type="search" class="form-control form-control-lg" placeholder="Find your ideal domain name...">
                            <button class="custom-form-btn btn btn-lg btn-primary bg-primary-gradient border-0" type="button" id="btn-addon">Search</button>
                        </div>
                    </form>
                    <div class="row text-center justify-content-center">
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="domain-names mb-3 mb-lg-0 bg-primary-gradient text-white">
                                <p class="mb-0 tx-20 fw-600">.com</p>
                                <p class="tx-13 op-8 mb-0">Starts at</p>
                                <p class="tx-18 fw-600 mb-0">$ 1,131</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="domain-names mb-3 mb-lg-0">
                                <p class="mb-0 tx-20 fw-600 tx-primary">.biz</p>
                                <p class="tx-13 op-8 mb-0">Starts at</p>
                                <p class="tx-18 fw-600 mb-0">$ 1,131</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="domain-names mb-3 mb-lg-0">
                                <div class="ribbone ribbone-1"><span class="bg-danger">New</span></div>
                                <p class="mb-0 tx-20 fw-600 tx-success">.net</p>
                                <p class="tx-13 op-8 mb-0">Starts at</p>
                                <p class="tx-18 fw-600 mb-0">$ 1,844</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="domain-names mb-3 mb-lg-0">
                                <p class="mb-0 tx-20 fw-600 tx-secondary">.in</p>
                                <p class="tx-13 op-8 mb-0">Starts at</p>
                                <p class="tx-18 fw-600 mb-0">$ 686</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="domain-names mb-3 mb-lg-0">
                                <div class="ribbone ribbone-1"><span class="bg-danger">New</span></div>
                                <p class="mb-0 tx-20 fw-600 tx-info">.org</p>
                                <p class="tx-13 op-8 mb-0">Starts at</p>
                                <p class="tx-18 fw-600 mb-0">$ 1,479</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="domain-names mb-3 mb-lg-0">
                                <p class="mb-0 tx-20 fw-600 tx-danger">.online</p>
                                <p class="tx-13 op-8 mb-0">Starts at</p>
                                <p class="tx-18 fw-600 mb-0">$ 1,479</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>