{% load static %}
<section class="section overflow-hidden">
    <img src="{% static 'assets/images/patterns/2.png' %}" alt="img" class="patterns-6 op-1 z-index-0 top-14p">
    <img src="{% static 'assets/images/patterns/7.png' %}" alt="img" class="patterns-5 left-0 transform-rotate-180 z-index-0">
    <div class="container">
        <div class="row">
            <div class="heading-section">
                <div class="heading-subtitle"><span class="tx-primary tx-16 fw-semibold">Services</span></div>
                <div class="heading-title">Best Services You <span class="tx-primary">Get</span></div>
                <div class="heading-description">Hosting Services</div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card border feature-card-15 mb-xl-0">
                    <div class="card-body text-center">
                        <span class="avatar avatar-lg rounded-circle bg-secondary text-white mb-3 tx-22"><i class="bi bi-gem"></i></span>
                        <h5>Reliability</h5>
                        <p class="mb-0">Lightning-fast servers with 24/7 monitoring and maximum uptime.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card border feature-card-15 mb-xl-0">
                    <div class="card-body text-center">
                        <span class="avatar avatar-lg rounded-circle bg-primary text-white mb-3 tx-22"><i class="bi bi-diagram-3"></i></span>
                        <h5>Data Management</h5>
                        <p class="mb-0">Easy control panel for files, databases, website management.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card border feature-card-15 mb-xl-0">
                    <div class="card-body text-center">
                        <span class="avatar avatar-lg rounded-circle bg-success text-white mb-3 tx-22"><i class="bi bi-hdd-network"></i></span>
                        <h5>Data Recovery</h5>
                        <p class="mb-0">Automated daily backups with one-click restore and protection.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card border feature-card-15 mb-xl-0">
                    <div class="card-body text-center">
                        <span class="avatar avatar-lg rounded-circle bg-danger text-white mb-3 tx-22"><i class="bi bi-shield-lock"></i></span>
                        <h5>Top Notch Security</h5>
                        <p class="mb-0">SSL certificates, malware scanning, and firewall protection included.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>