{% load static %}
<div class="main-content app-content">
    <section class="section banner-1 banner-section banner-arrow-down">
        <img src="{% static 'assets/images/patterns/4.png' %}" alt="img" class="patterns-3">
        <img src="{% static 'assets/images/patterns/6.png' %}" alt="img" class="patterns-4">
        <img src="{% static 'assets/images/patterns/9.png' %}" alt="img" class="patterns-8 op-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="">
                        <p class="mb-3 content-1 h5 text-white">Terms Of <span class="tx-info-dark">Services</span></p>
                        <p class="mb-0 tx-26">Everything you need to know about the Terms</p>
                    </div>
                </div>
            </div>
        </div>
    </section>