{% load static %}

<!-- BOOTSTRAP CSS -->
    <link id="style" href="{% static 'assets/libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >

    <!-- STYLE CSS -->
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" >

    <!-- Simonwep-picker CSS -->
    <link href="{% static 'assets/libs/@simonwep/pickr/themes/classic.min.css' %}" rel="stylesheet" >
    <link href="{% static 'assets/libs/@simonwep/pickr/themes/monolith.min.css' %}" rel="stylesheet" >
    <link href="{% static 'assets/libs/@simonwep/pickr/themes/nano.min.css' %}" rel="stylesheet" >

    <!-- ICONS CSS -->
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" >

<!-- Swiper CSS-->
<link rel="stylesheet" href="{% static 'assets/libs/swiper/swiper-bundle.min.css' %}">