{% load static %}

<section class="section blob-bg-sec banner-pd-3">
    <img src="{% static 'assets/images/patterns/18.png' %}" alt="img" class="patterns-5 transform-rotate-180 height-inherit bottom-0 op-1">
    <img src="{% static 'assets/images/patterns/18.png' %}" alt="img" class="patterns-7 height-inherit bottom-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="heading-section text-start mb-4">
                    <div class="heading-title text-white">Best Technical Support 24/7</div>
                    <div class="heading-description text-white op-8">Support and Guidance</div>
                </div>
                <p class="mb-3 op-8">Get instant help from our certified hosting experts anytime. We provide quick solutions for hosting issues, website problems, and technical questions to keep your business running smoothly.</p>
                <p class="tx-20 fw-500">Call Us : <a href="tel:+91-9650865885" class="text-white me-1">+91-965-086-5885</a> (Or) <a href="javascript:void(0);" onclick="Tawk_API.toggle()" class="text-white ms-1">Chat Now</a></p>
                <a href="{% url 'contact'%}" class="btn btn-lg btn-secondary">Contact Now</a>
            </div>
            <div class="col-lg-5">
                <div class="text-center mt-5 mt-lg-0">
                    <img src="{% static 'assets/images/png/57.png' %}" alt="img" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>