{% load static %}
<div class="main-content app-content">
<section>
    <div class="section banner-1 banner-section">
        <img src="{% static 'assets/images/patterns/4.png' %}" alt="img" class="patterns-3">
        <img src="{% static 'assets/images/patterns/6.png' %}" alt="img" class="patterns-4">
        <img src="{% static 'assets/images/patterns/9.png' %}" alt="img" class="patterns-8 op-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="">
                        <p class="mb-3 content-1 h5 text-white">Contact <span class="tx-info-dark">Us</span></p>
                        <p class="mb-0 tx-28">Easily accessible customer service is crucial in today's 24-hour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>